<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tapsdk.bootstrap"
    android:versionCode="30201001"
    android:versionName="3.2.1" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="30" />

    <application>
        <service android:name="cn.leancloud.push.PushService" />

        <receiver android:name="cn.leancloud.push.LCBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>